/* ==========================================================================
   Forms
   ========================================================================== */
.button, button.button {
  min-width: 196px;
  padding: 13px 26px;
  display: inline-block;
  background: #e12686;
  border-radius: 3px;
  font: 12px/12px 'GOST', Arial, sans-serif;
  text-decoration: none;
  outline: none !important;
  color: #fff;
  text-align: center;
  transition: background-color .2s ease;
}
.button:hover, button.button:hover, .button:focus, button.button:focus {
  background-color: #f42a92;
}
