/* COMPONENT:
   ==========================================================================
   Breadcrumbs
   ========================================================================== */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.breadcrumbs li {
  margin-bottom: 6px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs li:before { display: none;}
.breadcrumbs li:after {
  margin: 0 0 0 6px;
  content: "/";
  display: inline-block;
  vertical-align: top;
  color: #000;
}
.breadcrumbs li:nth-last-child(2):after { color: #808080; }
.breadcrumbs li:last-child:after { display: none; }
.breadcrumbs li a {
  color: #000;
  text-decoration: none;
}
/* SUB-SECTION:
   --------------------------------------------
   Breadcrumbs: responsive
   -------------------------------------------- */
