/* COMPONENT:
   ==========================================================================
   Breadcrumbs
   ========================================================================== */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font: 12px/16px "Trebuchet MS", Arial, sans-serif;
  color: #808080;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs li:before {
  margin: 0 4px 0 4px;
  content: "/";
  display: inline-block;
  vertical-align: top;
  color: #000;
}
.breadcrumbs li:first-child:before { display: none; }
.breadcrumbs li:last-child:before {
  margin: 0 4px 0 0;
  color: #808080;
}
.breadcrumbs li a {
  color: #000;
  text-decoration: none;
}
/* SUB-SECTION:
   --------------------------------------------
   Breadcrumbs: responsive
   -------------------------------------------- */
@media (max-width: 989px) {
}
@media (max-width: 767px) {
}
@media (max-width: 568px) {
}
