/* COMPONENT:
   ==========================================================================
   Catalog
   ========================================================================== */
.catalog {
    padding-bottom: 60px;
}

.catalog + .catalog {
    padding-top: 50px;

    border-top: 1px solid hsl(0,0%,93%);
}

.catalog__container {
    position: relative;

	float: left;

	width: 50%;
}
.container-narrow .catalog {
  margin-left: -50vw;
  margin-right: -50vw;
}
.container-narrow .catalog .catalog-space {
  width: 100vw;
  margin: 0 auto;
  padding: 0 4vw;
}
.container-narrow .catalog .catalog-space:after {
  display: table;
  content: '\0020';
  clear: both;
}


/* SUB-SECTION:
   --------------------------------------------
   Catalog: responsive
   -------------------------------------------- */
@media screen and (max-width: 900px) {
    .catalog__container {
        width: 100%;
    }
}