/* COMPONENT:
   ==========================================================================
   Catalog Menu
   ========================================================================== */
.catalog-menu {
    position: relative;
}

.catalog-menu:after {
    position: absolute;
    top: 50%;
    left: 50%;

    /*content: "\ff0b";*/
    content: "+";
    display: block;
    margin-top: -23px;
    margin-left: -9px;

    /*width: 42px;*/
    /*height: 42px;*/

    color: #eee;
    font-size: 38px;
}

.catalog-menu__item {
    position: relative;

    float: left;
    width: 50%;

    text-align: center;
    text-transform: uppercase;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.catalog-menu__item:nth-child(odd) {
    border-right: 1px solid hsl(0,0%,78%);
}

.catalog-menu__item:nth-child(even) {
    border-left: 1px solid hsl(0,0%,78%);
}

.catalog-menu__item:nth-child(-n+2) {
    border-bottom: 1px solid hsl(0,0%,78%);
}

.catalog-menu__item:nth-last-child(-n+2) {
    border-top: 1px solid hsl(0,0%,78%);
}

.catalog-menu__item--inc {
    background-color: hsl(198,77%,51%);
    /*background-image: url('http://forda-print.ru/img/content/menu_inc.png');*/
    background-image: url('../../img/content/inc.jpg');
}

.catalog-menu__item--equipment {
    /*background-color: hsl(329,76%,51%);*/
    background-color: hsl(328,75%,50%);
    /*background-image: url('http://forda-print.ru/img/content/menu_equipment.png');*/
    background-image: url('../../img/content/equipment.jpg');
}

.catalog-menu__item--materials {
    /*background-color: hsl(57,79%,53%);*/
    background-color: hsl(56,79%,53%);
    /*background-image: url('http://forda-print.ru/img/content/menu_materials.png');*/
    background-image: url('../../img/content/materials.jpg');
}

.catalog-menu__item--service {
    background-color: hsl(60,0%,48%);
    /*background-image: url('http://forda-print.ru/img/content/menu_service.png');*/
    background-image: url('../../img/content/service.jpg');
}

.catalog-menu__title {
    display: block;
    opacity: 0;

    color: #fff;
    font-size: 32px;
    /*line-height: 290px;*/
    line-height: 340px;
    text-decoration: none;

    background-color:  hsla(0,0%,0%,0.65);

    -weblik-transition: all 0.45s ease-in-out 0s;
       -moz-transition: all 0.45s ease-in-out 0s;
            transition: all 0.45s ease-in-out 0s;
}

.catalog-menu__title:hover {
    opacity: 1;
}

/* SUB-SECTION:
   --------------------------------------------
   Catalog Menu: responsive
   -------------------------------------------- */
@media screen and (max-width: 900px) {
    .catalog-menu__item {
        /*background-size: 45%;*/
        background-size: 70%;
    }
    .catalog-menu__title {
        line-height: 200px;
    }
}

@media screen and (max-width: 520px) {
    .catalog-menu__title {
        font-size: 24px;
        line-height: 140px;
    }
}

@media screen and (max-width: 420px) {
    .catalog-menu__item {
        width: 100%;

        background-image: none;
    }
    .catalog-menu:after {
        display: none;
    }
    .catalog-menu__item:nth-child(odd) {
        border-right: none;
    }

    .catalog-menu__item:nth-child(even) {
        border-left: none;
    }

    .catalog-menu__item:nth-child(-n+2) {
        border-bottom: none;
    }

    .catalog-menu__item:nth-last-child(-n+2) {
        border-top: none;
    }
    .catalog-menu__title {
        opacity: 1;
        line-height: 70px;

        background-color: transparent;
    }
    .catalog-menu__title:hover {
        background-color:  hsla(0,0%,0%,0.65);
    }
}
