/* COMPONENT:
   ==========================================================================
   Default
   ========================================================================== */
.default ul li {
  padding-left: 9px;
}
.default ul li:before {
  content: '-';
  margin-left: -9px;
  position: absolute;
}
.default p {
  margin:24px 0;
}
.default h6, .default .h6 {
  text-transform: uppercase;
}
