/* COMPONENT:
   ==========================================================================
   Site Header
   ========================================================================== */
.site-header {
    padding-top: 30px;
    padding-bottom: 120px;

    color: #fff;

    background: hsl(330,84%,20%);
    background-image: url('../../img/bg/main_printer.png');
    background-image: -moz-linear-gradient(top, hsla(330,84%,20%,0.7) 0%, #e12385 100%), url('../../img/bg/main_printer.png');
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(330,84%,20%,0.7)), color-stop(100%,hsla(330,84%,20%,0.7))), url('../../img/bg/main_printer.png');
    background-image: -webkit-linear-gradient(top, hsla(330,84%,20%,0.7) 0%,hsla(329,76%,51%,0.75) 100%), url('../../img/bg/main_printer.png');
    background-image: -o-linear-gradient(top, hsla(330,84%,20%,0.7) 0%,#e12385 100%), url('../../img/bg/main_printer.png');
    background-image: -ms-linear-gradient(top, hsla(330,84%,20%,0.7) 0%,#e12385 100%), url('../../img/bg/main_printer.png');
    background-image: linear-gradient(to bottom, hsla(330,84%,20%,0.7) 0%,#e12385 100%), url('../../img/bg/main_printer.png');
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f0834', endColorstr='#e12385',GradientType=0 );

    background-position: 50% 77%;
    background-repeat: no-repeat;
    background-size: auto, 60%;

    border-bottom: 2px solid hsl(0,0%,78%);
}

.site-header__logo {
    float: left;
}

/* SUB-SECTION:
   --------------------------------------------
   Site Header: responsive
   -------------------------------------------- */
@media screen and (max-width: 1400px) {
    .site-header {
        background-size: auto, 77%;
    }
}
@media screen and (max-width: 1024px) {
    .site-header {
        background-size: auto, 85%;
    }
}
@media screen and (max-width: 900px) {
    .site-header {
        background-position: 50% 72%;
    }
}
@media screen and (max-width: 640px) {
    .site-header {
        padding-bottom: 30px;

        background-position: 50% 75%;
    }
    .site-header__logo {
        float: none;
        width: 100%;

        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .site-header {
        border-bottom: none;
    }
}
